html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }


  #countScore { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	  align-items: center;
    background-image: url("./assets/Angry-Birds-header.jpg");
    margin: 0;
    padding: 0;
    height: 300px;
    width: 1435px;;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-size: 1.8rem;
   
  }

  #counter { 
    font-size:90px;
    line-height: 60px;
  }



  #imgStarter{
    background-image: url("./assets/startAngryBird.png");
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  #imgStarter p{
    margin-top: 10%;
    font-size: 32px;
  }